.card-cus {
  background-color: rgba(0, 44, 13, .06);
}

.line {
  text-align: left; 
  border-left: solid 0.1em #FFC417; 
  padding: 2px 0 2px 10px; 
  margin: 10px 0;
  color: #002C0D;
}

.menu_title {
  text-align: center;
  background-image: -webkit-linear-gradient(0deg, rgb(255,255,255,0), rgb(255,196,23,100), rgb(255,255,255, 0));
  background-image: -moz-linear-gradient(0deg, rgb(255,255,255, 0), rgb(255,196,23,100), rgb(255,255,255, 0));
  background-image: linear-gradient(to right, 0deg, rgb(255,255,255, 0), rgb(255,196,23,100), rgb(255,255,255, 0));
  -webkit-background-size: 100% .1em;
  background-repeat: no-repeat;
  background-position-y: bottom;
  padding-bottom: 10px;
}

section.posi-title {
  margin-top: 3.5em;
}

.positions {
  text-align: left; 
  border-left: solid 0.1em #FFC417; 
  padding: 2px 0 2px 10px; 
  margin: 10px 0;
  color: #002C0D;
}

.sub_title {
  color: #295938;
}

.cont-link, .text {
  font-size: .9em;
  color: #002C0D;
  margin-left: 10px;
}

.cont-link:hover {
  font-size: .9em;
  color: #002C0D;
}