.card-deck {
  padding: 10px 0;
}

.menu_title {
  text-align: center;

  -webkit-background-size: 100% .1em;
  background-repeat: no-repeat;
  background-position-y: bottom;
  padding-bottom: 10px;
  padding-top:30px;
}

a#urlStyle {
  color: #408053;
  text-decoration-line: none;
}

a#urlStyle:hover {
  color: #002C0D;
  text-decoration-line: none;
}

.col-cus {
  padding: 10px;
}

.card-cus {
  background-color: #fff;
}

.btn-info {
    background:    #b4a7d6;
    border-radius: 4px;
    /* width:         60px;
    height:        25px; */
    color:         #ffffff;
    display:       inline-block;
    font:          normal normal "Open Sans", sans-serif;
    text-align:    center;
}
div.card-cus > h5.card-title.card-title-cus {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

div.card-cus > p.card-text#proj_text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

div.card-cus > a.btn.btn-primary {
  background-color: gray;
  border: solid .1em gray;
}

div.card-cus > .btn.btn-primary:hover {
  color:white;
  background-color: black;
  border: solid .1em gray;
  box-shadow: none;
}

div.card-cus > a.btn.btn-primary#none-shadow:hover,
div.card-cus > a.btn.btn-primary#none-shadow:link {
  box-shadow: none;
}

.card-title-cus {
  font-weight: bold;
  border-bottom: solid .01em gray;
}

.lab_info:first-letter{
  margin-left: 10px;
}

.top-buffer { margin-top:25px; }

.profile {
    border-radius:90%
}

#logo {
    height:100px;
}
